:root {
    --bg-color1: #121212;
    --bg-color2: #1E1E1E;
    --bg-color3: #292929;
    --accent-color: #B985FA;
    --more-accent-color: #f70776; /*#03DAC6;*/
    --the-new-white: #E6E6E6;
    --the-gray: #9A9A9A;
}

html, body, .row, .svgClass, .ceoGraf, .column1, .column2 {
    min-height: 90% !important;
    height: 100%;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: var(--bg-color3); /*#102A43;*/
}

.navbar a {
    float: left;
    display: block;
    font-size: 16px;
    color: var(--the-new-white); /*#F0F4F8;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--the-new-white); /*#F0F4F8;*/
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--accent-color); /*#00C7E6;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-color3); /*#f9f9f9;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--bg-color2); /*#BCCCDC;*/
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: var(--the-new-white); /*#486581;*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--accent-color); /*#00C7E6;*/
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the search box inside the navigation bar */
.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 16px;
}

.navbar input[type=button] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 16px;
}

.column1 {
    float: left;
    width: 30%;
    overflow-y: scroll;
    scrollbar-arrow-color: var(--the-gray);
    background-color: var(--bg-color2); /* #BCCCDC;*/
}

.column2 {
    float: right;
    width: 70%;
    scrollbar-arrow-color: var(--the-gray);
    background-color: var(--bg-color1); /* #F0F4F8;*/
}

.svgClass {
    width: 100%;
    background-color: var(--bg-color1); /* #F0F4F8;*/
}

.OK {
    background-color: var(--bg-color2); /* #F0F4F8;*/
    color: var(--the-new-white); /*#102A43;*/
}

.search {
    background-color: var(--bg-color2); /* #F0F4F8;*/
    color: var(--the-gray); /*#102A43;*/
}

.FILTER {
    background-color: var(--bg-color2); /* #F0F4F8;*/
    color: var(--the-new-white); /*#102A43;*/
}

.filter {
    background-color: var(--bg-color2); /* #F0F4F8;*/
    color: var(--the-gray); /*#102A43;*/
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.project {
    background-color: var(--accent-color); /*#00C7E6;*/
}

/* TODO: za math_view plugin */
circle {
    fill: var(--accent-color);
}

line.link {
    stroke: var(--the-gray);
}

text {
    fill: var(--the-new-white);
}

.selected {
    fill: var(--more-accent-color);
}

#bigDisplay {
    width: 100%;
    height: 100%;
}

#birdDisplay {
    bottom: 0;
    right: 0;
    position: absolute;
    float: right;
    width: 250px;
    height: 250px;
    border: 1px solid var(--accent-color);
}

#birdDisplay.graphy {
    -ms-transform: matrix(0.02, 0, 0, 0.02, 100, 100);
    transform: matrix(0.02, 0, 0, 0.02, 100, 100);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: var(--bg-color3);
    margin: auto;
    padding: 20px;
    border: 1px solid var(--accent-color);
    width: 80%;
    color: var(--the-new-white);
}

/* The Close Button */
.close {
    color: var(--accent-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--more-accent-color);
    text-decoration: none;
    cursor: pointer;
}

/* TODO: scroll color */
::-webkit-scrollbar {
    background-color: var(--bg-color1);
}

::-webkit-scrollbar-button {
    background-color: var(--bg-color2);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color1);
}

::-webkit-scrollbar-track-piece {
    background-color: var(--bg-color2);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-color3);
}

/*::-webkit-scrollbar-corner       { background-color: var(--the-gray); }
::-webkit-resizer                { background-color: var(--bg-color1); }*/